<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="4.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="105.0.5195.5200" targetFramework="net45" />
</packages>